html{
	font-size: 50px;
}

.lf{
	float: left;
}
.rt{
	float: right;
}
/****首屏图片****/
.firstW{
	width: 100%;
	height: 3.75rem;
}
.firstW>img{
	width: 100%;
	height: 100%;
}
/*内容*/
.second{
	width: 100%;
	margin-bottom: 0.1rem;
	/*background: cadetblue;*/
}
.second>.content{
	width: 6.9rem;
	height: 10.08rem;
	margin: 0 auto;
	/*background: firebrick;*/
}
.content>h1{
	    font-size: 0.32rem;
    margin-top: 0.39rem;
    margin-bottom: 0.2rem;
}
.second>.content>p>span{
	font-size: 0.2rem;
} 
.second>.content>p .schoolLogo{
	    width: 0.24rem;
    height: 0.24rem;
    background: url(../img/png1.png) no-repeat 0px 0px;
    background-size: 100%;
    display: inline-block;
    margin-left: 0.1rem;
    /*vertical-align: bottom;*/
}
.second>.content .content_1{
	
	height: 2rem;
	background: #f7f7f7;
	margin-top: 0.35rem;
	padding: 0.35rem 0.52rem;
	
}
.content_1 .time{
	width: 5.88rem;
	margin: 0 auto;
}
.content_1 div .p1{
	font-size: 0.2rem;
	color: #999;
}
.content_1 div .p2{
	font-size: 0.25rem;
	color: #000;
	margin-top: 0.13rem;
}
.content_1>.line{
	width: 5.88rem;
	height: 0.03rem;
	background: #f0f0f0;
	margin: 0.26rem auto ;
	display: block;
	float: left;
}
.content>.line2{
	height: 0.05rem;
	background: #F7F7F7;
	margin-top: 0.3rem;
}
.content_2 p{
	font-size: 0.25rem;
	color: #999999;
	margin: 0.3rem 0;
}
.content_2 .img{
	height: 3.6rem;
	
	
}
.content_2 .img>img{
	width: 100%;
	height: 100%;
}
/*foot*/
.third{
	height: 3.5rem;
	background: #F7F7F7;
	padding: 0.45rem 0;
}
.third>div{
	height: 0.85rem;
	/*line-height: 0.85rem;*/
	margin-left: 0.4rem;
	margin-right: 0.7rem;
	padding-top: 0.2rem;
}
.third>p{
	font-size: 0.2rem;
	color: #999;
	margin: 0.25rem 0 0 0.4rem;
}
.third>div>.p1{
	font-size: 0.2rem;
	color: #999;
	line-height: 0.35rem;
}
.third>div>.p2{
	font-size: 0.25rem;
	font-weight: bold;
	
}
.blue{
	color: #0096ff;
}
.green{
	color: #2ebb9c;
}
.third>.cost{
	border-top:0.01rem solid #ededed ;
	border-bottom: 0.01rem solid #ededed;
}
/****btn****/
.btn{
	;
}
.btn>div{
	width: 6.25rem;
	height: 0.9rem;
	margin: 0 auto;
	padding: 0.15rem;
	
}
.btn>div>button{
	width: 3rem;
	height: 0.8rem;
	text-align: center;
	border: none;
	background-size: 100%;
	font-size: 0.25rem;
	color: #FFF;
	
}
.btn .btnl{
	background: url(../img/png2.png) no-repeat 0rem 0.035rem;
	float: left;
	background-size: 100%;
}
.btn .btnr{
	background: url(../img/png2.png) no-repeat 0rem -0.87rem;
	float: right;
	background-size: 100%;
}
