html{
	font-size: 50px;
}
body{
	font-family: 'PingFangSC-Regular';
}
.lf{
	float: left;
}
.rt{
	float: right;
}
/****首屏图片****/
.firstW{
	width: 100%;
	height: 3.6rem;
}
.firstW>img{
	width: 100%;
	height: 100%;
}
/*内容*/
.second{
	width: 100%;
	margin-bottom: 0.1rem;
	/*background: cadetblue;*/
}
.second>.content{
	width: 6.9rem;
	height: 10.08rem;
	margin: 0 auto;
	/*background: firebrick;*/
}
.content>h1{
	font-size: 0.36rem;
    margin-top: 0.3rem;
    margin-bottom: 0.12rem;
    font-family: 'PingFang-SC-Medium';
}
.second>.content>p>span:nth-child(1){
	font-size: 0.22rem 'PingFangSC-Regular';
	color: #999;
} 
.second>.content>p>span:nth-child(2){
	
}
.second>.content>p>span:nth-child(3){
	float: right;
	margin-left: 0.4rem;
}
.second>.content>p>span:nth-child(4){
	float: right;
}
.second>.content>p>span>img{
	width: 0.23rem;
	height: 0.18rem;
}
.second>.content>p>span>b{
	font-weight:100 ;
	font-size: 0.22rem 'PingFangSC-Regular';
	color: #999;
	margin-left: 0.1rem;
}
.second>.content>p .schoolLogo{
	    width: 0.24rem;
    height: 0.24rem;
    background: url(../img/png1.png) no-repeat 0px 0px;
    background-size: 100%;
    display: inline-block;
    margin-left: 0.1rem;
    /*vertical-align: bottom;*/
}
.second>.content .content_1{
	height: 2.42rem;
	background: #f7f7f7;
	margin-top:0.31rem ;
	padding: 0.3rem 0.52rem;
	
}
.content_1 .time{
	width: 5.88rem;
	margin: 0 auto;
}
.content_1 div .p1{
	font-size: 0.22rem;
	color: #999;
}
.content_1 div .p2{
	font-size: 0.28rem;
	color: #333333;
	margin-top: 0.13rem;
}
.content_1>.line{
	width: 5.88rem;
	height: 0.03rem;
	background: #f0f0f0;
	margin: 0.26rem auto ;
	display: block;
	float: left;
}
.content>.line2{
	height: 0.05rem;
	background: #F7F7F7;
	margin-top: 0.3rem;
}
.content_2 p{
	font-size: 0.28rem;
	color: #999999;
	
}
.content_2 .p1{
	margin: 0.3rem 0 0.2rem 0 ;
}
.content_2 .p2{
	margin: 0.2rem 0 0.3rem 0 ;
	line-height: 0.4rem;
}
.content_2 .img{
	height: 3.6rem;
	
	
}
.content_2 .img>img{
	width: 100%;
	height: 100%;
}
/*foot*/
.third{
	height: 3.4rem;
	background: #F7F7F7;
	padding: 0.3rem 0 0.4rem 0;
}
.third>div{
	height: 0.85rem;
	/*line-height: 0.85rem;*/
	margin-left: 0.4rem;
	margin-right: 0.67rem;
	padding-top: 0.15rem;
}
.third>p{
	font-size: 0.22rem;
	color: #999;
	margin: 0.25rem 0.7rem 0 0.4rem;
}
.third>div>.p1{
	font-size: 0.22rem;
	color: #999;
	line-height: 0.35rem;
}
.third>div>.p2{
	font-size: 0.28rem;
	/*font-weight: bold;*/
	
}
.blue{
	color: #0096ff;
}
.green{
	color: #2ebb9c;
}
.third>.cost{
	border-top:0.01rem solid #ededed ;
	border-bottom: 0.01rem solid #ededed;
}
/****btn****/
.ss{
	width: 100%;
	height: 1.1rem;
}
.btn{
	position: fixed;
	left:0;
	bottom: 0;
	width: 100%;
	height: 1.1rem;
	background: #fff;
	
}
.btn>div{
	width: 6.25rem;
	height: 100%;
	margin: 0 auto;
	padding: 0.15rem;
	
}
.btn>div>button{
	width: 3rem;
	height: 0.8rem;
	text-align: center;
	border: none;
	background-size: 100%;
	font-size: 0.28rem;
	font-family: 'PingFangSC-Regular';
	border: none;
    text-align: center;
    border-radius: 30px;
    
    

	
}
.btn>div>button>a{
	color: #FFFFFF;
	
	
}
.btn .btnl{
	box-shadow:  0px 4px 6px 0px  rgba(0,150,255, .3);
	background-color: #0096ff;
	float: left;
	
}
.btn .btnr{
	box-shadow:  0px 4px 6px 0px   rgb(250,222,159);
	background-color: #FDB100;
	float: right;
	
}
/*@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2){
        .third{
        	height: 4rem;
        }
    }*/


































/***index2***/
.title{
	font-size: 0.24rem;
	color: #999999;
	margin: 0.2rem 0 0.2rem 0.3rem;
}
input{
	border: none;
	font:0.28rem "PingFangSC-Regular";
	color: #d9d9d9;
	margin-left:0.2rem;
	
}
form>div{
	padding: 0.25rem 0 0.25rem 0.3rem;	
	height: 0.4rem;
	background: #FFFFFF;
	
}
form>div>label{
	width: 1.12rem;
	height: 0.4rem;
	color: #333;
	font:0.28rem "PingFangSC-Regular";
}

.phone{
	border-top:0.02rem solid #d9d9d9;
}

.submit{
	position: absolute;
	left: 0;
	right: 0;
	margin: 0.8rem auto 0;
	width: 6rem;
	height: 0.9rem;
	background-color: #0096ff;
	font-size:0.28rem ;
	font-family: "PingFangSC-Light";
	color: #fff;
	border: none;
    text-align: center;
    border-radius: 30px;
    -webkit-box-shadow:  0px 4px 6px 0px   rgba(0,150,255, .3);
    box-shadow:  0px 4px 6px 0px  rgba(0,150,255, .3);
    /*-webkit-transition: all 0.15s ease;
    -moz-transition: all 0.15s ease;
    -o-transition: all 0.15s ease;
    -ms-transition: all 0.15s ease;
    transition: all 0.15s ease;*/
}
.tishi{
	position: absolute;
    left: 0;
    right: 0;
    top: 0.9rem;
   
    /*bottom: 5.38rem;*/
    margin: 0 auto;
    background: #fff;
    border-radius: 0.3rem;
    text-align: center;
    width: 5.5rem;
    height: 5.58rem;
    line-height: 2rem;
	display: none;
}

.tishi>img{
	width: 100%;
	height: 100%;
}
.tishi>div{
	position: absolute;
	bottom:0;
	left: 0;
	right: 0;
	width: 100%;
	height: 0.9rem;
	line-height: 0.9rem;
	background: #d9d9d9;
	border-bottom-left-radius: 0.21rem;
	border-bottom-right-radius: 0.21rem;
	font-size: 0.28rem;
	
	
	}
























